{% extends 'base.html' %}

{% block head %}
<title>{{param_dict.pool_name}}</title>
<style>
    .bk-tooltip {
        border: 0px !important;
        width: 150px !important;
    }

    .card-header {
        color: white;
        background-color: #22316c;
    }
</style>
<link rel="stylesheet" href="{{url_for('static',filename='css/rio.css')}}">

{% endblock %}

{#

0 GROSS_RESERVES_TOKEN0_ADJUSTED -
1 GROSS_RESERVES_TOKEN1_ADJUSTED -
2 PRICE01 -
3 PRICE10 -
4 SWAP_COUNT -
5 SWAP_VOL -
6 TOKEN0_IN
7 TOKEN0_OUT
8 TOKEN1_IN
9 TOKEN1_OUT
10 TVL_USD -

#}

{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css'
    rel='stylesheet' type='text/css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js'
    type='text/javascript'></script>

<div class="container">
    <div class="row align-items-end">
        <div class="col">Pick your date</div>
        <div class="col">
            <div class="form-outline">
                <form action="/uni_pool/{{pool_address}}" method="POST">
                    <div class="input-group input-daterange">

                        <input type="text" class="form-control" value="{{start_date}}" name="start_date"
                            id="start_date">
                        <div class="input-group-addon">to</div>
                        <input type="text" class="form-control" value="{{end_date}}" style='width: 100px;'
                            name="end_date" id="end_date">
                        <button class="btn btn-light" type="submit" value="set">Set</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="p-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h1 class="display-5">
                        {{param_dict.pool_name}}
                    </h1>
                    {{pool_address}}
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <img src="{{url_for('static',filename=param_dict.token0_icon)}}" width="100">
                    <img src="{{url_for('static',filename=param_dict.token1_icon)}}" width="100">
                </div>
                <div id="24hr_stats" class="col">
                    <div class="row">
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-header">
                                    Total Value Locked
                                </div>
                                <div class="card-body">
                                    <h4>
                                        {{param_list[10].div|safe}}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-header">
                                    Swap Volume
                                </div>
                                <div class="card-body">
                                    <h4>
                                        {{param_list[5].div|safe}}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-header">
                                    Swaps made
                                </div>
                                <div class="card-body">
                                    <h4>
                                        {{param_list[4].div|safe}}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="row text-center">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Overall swaps
                </div>
                <div class="card-body">
                    {{overall_swap_dict.swaps}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Overall Swap Volume
                </div>
                <div class="card-body">
                    {{overall_swap_dict.total_vol}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"style="color: white; background-color: {{param_dict.token0_color}};">
                    Overall {{param_dict.token0}} traded
                </div>
                <div class="card-body">
                    {{overall_swap_dict.token0_traded}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"style="color: white; background-color: {{param_dict.token1_color}};">
                    Overall {{param_dict.token1}} traded
                </div>
                <div class="card-body">
                    {{overall_swap_dict.token1_traded}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="color: white; background-color: {{param_dict.token0_color}};">
                    {{param_dict.token0}} in Pool
                </div>
                <div class="card-body">
                    {{param_list[0].div|safe}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="color: white; background-color: {{param_dict.token1_color}};">
                    {{param_dict.token1}} in Pool
                </div>
                <div class="card-body">
                    {{param_list[1].div|safe}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="color: white; background-color: {{param_dict.token0_color}};">
                    swap in 1 {{param_dict.token0}} for
                </div>
                <div class="card-body">
                    {{param_list[3].div|safe}} {{param_dict.token1}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="color: white; background-color: {{param_dict.token1_color}};">
                    swap in 1 {{param_dict.token1}} for
                </div>
                <div class="card-body">
                    {{param_list[2].div|safe}} {{param_dict.token0}}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="p-5">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="color: white; background-color: {{param_dict.token0_color}};">
                    {{param_dict.token0}} swapped in
                </div>
                <div class="card-body">
                    {{param_list[6].div|safe}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="color: white; background-color: {{param_dict.token1_color}};">
                    {{param_dict.token1}} swapped in
                </div>
                <div class="card-body">
                    {{param_list[8].div|safe}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="color: white; background-color: {{param_dict.token0_color}};">
                    {{param_dict.token0}} swapped out
                </div>
                <div class="card-body">
                    {{param_list[7].div|safe}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header" style="color: white; background-color: {{param_dict.token1_color}};">
                    {{param_dict.token1}} swapped out
                </div>
                <div class="card-body">
                    {{param_list[9].div|safe}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="row">
        <div class="col">
            <div id="TVL_USD" class="card">
                <div class="card-header">
                    Total Value Locked
                </div>
                <div class="card-body">
                    {{param_list[10].plot|safe}}
                </div>
            </div>
        </div>
        <div class="col">
            <div id="TVL_USD" class="card">
                <div class="card-header">
                    Swap Volume
                </div>
                <div class="card-body">
                    {{param_list[5].plot|safe}}
                </div>
            </div>
        </div>
        <div class="col">
            <div id="TVL_USD" class="card">
                <div class="card-header">
                    Swaps Made
                </div>
                <div class="card-body">
                    {{param_list[4].plot|safe}}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="p-5">
    <div class="row">
        <div class="col">
            <div class="card-group">
                <div class="card">
                    <div class="card-header" style="color: white; background-color: {{param_dict.token0_color}};">
                        {{param_dict.token0}} Reserves
                    </div>
                    <div class="card-body">
                        {{param_list[0].plot|safe}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="color: white; background-color: {{param_dict.token1_color}};">
                        {{param_dict.token1}} Reserves
                    </div>
                    <div class="card-body">
                        {{param_list[1].plot|safe}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-group">
                <div class="card">
                    <div class="card-header" style="color: white; background-color: {{param_dict.token0_color}};">
                        1 {{param_dict.token1}} to {{param_dict.token0}}
                    </div>
                    <div class="card-body">
                        {{param_list[2].plot|safe}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="color: white; background-color: {{param_dict.token1_color}};">
                        1 {{param_dict.token0}} to {{param_dict.token1}}
                    </div>
                    <div class="card-body">
                        {{param_list[3].plot|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="row">
        <div class="col">
            <div class="card-group">
                <div class="card">
                    <div class="card-header" style="color: white; background-color: {{param_dict.token0_color}};">
                        {{param_dict.token0}} swapped in
                    </div>
                    <div class="card-body">
                        {{param_list[6].plot|safe}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="color: white; background-color: {{param_dict.token0_color}};">
                        {{param_dict.token0}} swapped out
                    </div>
                    <div class="card-body">
                        {{param_list[7].plot|safe}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-group">
                <div class="card">
                    <div class="card-header" style="color: white; background-color: {{param_dict.token1_color}}; ">
                        {{param_dict.token1}} swapped in
                    </div>
                    <div class="card-body">
                        {{param_list[8].plot|safe}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="color: white; background-color: {{param_dict.token1_color}};">
                        {{param_dict.token1}} swapped out
                    </div>
                    <div class="card-body">
                        {{param_list[9].plot|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="card">
        <div class="card-header">
            Top 10 Liquidity Provider's positioning
        </div>
        <div class="card-content">
            {{lp_range_div|safe}}
            <p class="text-center pt-2">
                The price range of one asset and the Liquidity concentration of the other asset provided by the Top10 most active LPs is visualized. Anomalies cause massive deviations. But the general picture of liquidity concentration can be seen.
            </p>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="card">
        <div class="card-body">
            <div class="card-group">
                <div class="card">
                    <div class="card-header">
                        {{react_dict[0].title|safe}}
                    </div>
                    <div class="card-body">
                        {{react_dict[0].div|safe}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        {{react_dict[1].title|safe}}
                    </div>
                    <div class="card-body">
                        {{react_dict[1].div|safe}}
                    </div>
                </div>
            </div>
            <nav class="row px-3">
                <div class="col text-center text-white" style="background-color: #f4b731;">floated into range</div>
                <div class="col text-center text-white" style="background-color: #0c3694;">out of range</div>
                <div class="col text-center text-white" style="background-color: #4bdb4b;">updated range</div>
                <div class="col text-center text-white" style="background-color: #ff0079;">reduced exposure</div>
                <div class="col text-center text-white" style="background-color:black;">other</div>
            </nav>
            <p class="pt-2 text-center">
                The more colorful the plot is, the more activity taking place. On the right, Liquidity reacting to market is visualized. On the left, Liquidity Providers reacting to out of bounds Liquidity is visualized.
            </p>
            <div class="row">
                <div class="col">
                    <p>
                        <ul>
                            <li><strong>Floated into range</strong> means the market movement, moved liquidity into LP ranges by the day end.</li>
                            <li><strong>Out of range</strong> means the liquidity didn't return back to its LP range</li>
                        </ul>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <ul>
                            <li><strong>Updated range</strong> implies LP stepped in to update price range</li>
                            <li><strong>Reduced exposure</strong> implies LP stepped in to reduce liquidity within a certain price range</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Slippage of past 7000 swaps
                </div>
                <div class="card-body">
                    {{slip_dict.div|safe}}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            75% of swaps under
                        </div>
                        <div class="card-body">
                            <strong>{{slip_dict.all75|safe}}</strong> slippage
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Mean slippage
                        </div>
                        <div class="card-body">
                            <strong>{{slip_dict.mean|safe}}</strong> 
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row pt-3">
                <div class="card">
                    <div class="card-body">
                        <p>
                            In the <strong>histogram</strong> to the right, Ideally, you want to the distribution to be
                            narrow for predictable slippage, and peak as close to zero as possible for minimum slippage.
                            <br>
                            In the <strong>heatmaps</strong> below , the darker the color, the more probably the
                            slippage associated with it. The scale on the right shows the color coding of number of swaps in a given [slippage, price] range<br>
                             First decide the swap amount (x-axis, bottom). Follow the
                            column above to find the most likely slippage(on y-axis, left) based on past swap data. <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Slippage - Swaps < $1,000 </div>
                        <div class="card-body">
                            <img src="{{url_for('static',filename='img/heatmaps/small.png')}}" class="img-fluid" alt="">
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Slippage - Swaps < $10,000 </div>
                            <div class="card-body">
                                <img src="{{url_for('static',filename='img/heatmaps/med.png')}}" class="img-fluid"
                                    alt="">
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Slippage - Swaps < $100,000 </div>
                                <div class="card-body">
                                    <img src="{{url_for('static',filename='img/heatmaps/big.png')}}" class="img-fluid"
                                        alt="">
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Whale boys
                            </div>
                            <div class="card-body">
                                <img src="{{url_for('static',filename='img/heatmaps/whale.png')}}" class="img-fluid"
                                    alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% for func in param_list%}
{{func.script|safe}}
{% endfor %}

{{lp_range_script|safe}}
{{slip_dict.script|safe}}

{% for plot in react_dict %}
{{plot.script|safe}}
{% endfor %}



<script type="text/javascript">
    $(' .input-daterange').datepicker({
        format: "dd M, yyyy",
        startDate: "05 May, 2021",
        endDate: "today",
        todayBtn: true,
        clearBtn: true,
        autoclose: true
    });
</script>

{% endblock %}