{% extends 'uni_index.html' %}

{% block head %}
<title>Uniswap Analytics</title>
{% endblock %}

{% block tab %}

<!-- fee section -->
<section class="section container">
        <div class="card is-rounded">
            <div class="card-content">
                
                <div class="columns is-vcentered">

                    <div class="column">
                        <div class="content has-text-justified">
                            <h1 class="title is-size-3 pl-2">
                                Is 1% the right choice ?
                            </h1>
                            <h1 class="is-size-6">
                                One of the most important decisions for an LP in uniswapv3 is to choose the appropriate fee tier to make good returns from the liquidity they provide. <br>
                                Though in the outset, 1% looks like a smart choice to get the most out of your liquidity position.<a href="https://twitter.com/darksoulsfanlol" target="_blank">@darksoulsfanlol</a> suggests that is not the case in this data backed analysis.
                                <ul>
                                    <li>0.3 % generates the most volume</li>
                                    <li>most likely due to most LPs transitioning from v2 choosing to keep the tried and test fee tier.</li>
                                    <li>as the difference is shrinking, in the long run, one can expect the LPs to adapt to the versatility of fee tiers</li>
                                </ul>
                            </h1>
                            
                        </div>
                    </div>
                    <div class="column is-three-fifths">
                        {{uni_fee_plot|safe}}
                    </div>
                </div>
                <div class="columns is-vcentered">
                    <div class="column is-one-fifth">
                        <div class="content has-text-justified">
                            <h1 class="is-size-6">
                                <p class="has-text-danger">
                                    Note: the graphs have log-scale, so actual differences are to be amplified by a factor of 10. 
                                </p>
                                The analysis, suggests
                                <ul>
                                    <li>stick to 1% APR for low volume pools</li>
                                    <li>stay away from 0.05% fee tier</li>
                                    <li>when in doubt go for 0.3%</li>
                                    <li>Impermanent loss can still wreck your wallet</li>
                                </ul>
                                <a href="https://app.flipsidecrypto.com/dashboard/best-uniswap-fee-ChF2eD" target="_blank">read full analysis...</a>
                            </h1>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        {{uni_volat_plot|safe}}
                        <h1 class="subtitle is-size-7">
                            APR of pools with &le; $10M 
                        </h1> 
                    </div>
                    <div class="column has-text-centered">
                        {{uni_nice_plot|safe}}
                        <h1 class="subtitle is-size-7">
                            APR of pools with &ge; $10M 
                        </h1> 
                    </div>
                </div>
            </div>

        </div>
</section>

<section class="section container">
    <div class="card">
        
        <div class="columns is-vcentered">
            <div class="column is-8 has-text-centered">
                {{uni_lp_plot|safe}}
                <h1 class="subtitle is-size-7">
                    Efficiency of LPs for ETH-USDC pair 
                </h1> 
            </div>
            <div class="column">
                <h1 class="title is-size-3 pl-2">
                    Become an efficient LP in Uniswapv3 
                </h1>
                <h1 class="subtitle">(atleast for ETH-USDC)</h1>
                <div class="content pr-4 has-text-justified">
                    <h1 class="is-size-6">
                        Kida#8864 analysed the popular ETH-USDC pool's top Liquidity Providers to see how efficient they are , and lessons to be learnt from them. 
                        In the graph on the right, in top you can see the ETH's price range as line segments, while the LP's liquidity range as shaded area.In bottom, you can see the volatility compared to the percentage range of LP position. Ideally, we want both the black regions to be completely and tightly engulfed by the red areas for maximum capital efficiency.
                        <ul>
                            <li>The LPs consistently managed to enclose all of the ETH price for majority of the days. Only days of extreme volatility pushed these LPs out of position. </li>
                            <li>This means, generally the LPs are either very good at prediciting the price range of ETH or very reactive to changes, both of which are rewarding in Uniswapv3</li>
                            <li>A position gap of greater than 5% is required, or else transactions will go out of bounds</li>
                            <li>A 25% price gap looks like overkill on most days.</li>
                            <li>15% to 30% price gap with previous day average ETH price at center, is the analyst's recommendation for LP ranges.</li>
                        </ul>
                        <a href="https://app.flipsidecrypto.com/dashboard/uniswap-active-positions-and-their-price-ranges-UjLwpy" target="_blank">read full analysis...</a>

                    </div> 
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="section container">
    <div class="card">
        <h3 class="pl-2">
            Reacting to out of bound ranges like a pro LP ... 
        </h3>

        
        <div class="row">
            <div class="col">
                {{lp_layout|safe}} 
                <h6 class="subtitle is-size-7">
                    Liquidity Providers activity
                </h6> 
            </div>
            <div class="col">
                {{liq_layout|safe}}
                <h6 class="subtitle is-size-7">
                    Liquidity's activity
                </h6>
            </div>
        </div>
        <nav class="level is-size-7">
            <div class="level-item has-text-centered has-text-white" style="background-color: #f4b731;">floated into range</div>
            <div class="level-item has-text-centered has-text-white" style="background-color: #0c3694;">out of range</div>
            <div class="level-item has-text-centered has-text-white" style="background-color: #4bdb4b;">updated range</div>
            <div class="level-item has-text-centered has-text-white" style="background-color: #ff0079;">reduced exposure</div>
            <div class="level-item has-text-centered has-text-white" style="background-color:black;">other</div>
        </nav>
        
        <div class="content p-2 text-justified">
            <p class="">
                Andruu took a look at how LPs and the Liquidity react to market conditions. 
                In order to read these plots, use the legends above. The legend describes activity that occur to a liquidity position. For example, say floated into range, in the graph on the left this means, the LP moved the ranges manually, where as in the graph on right it means, the liquidity moved back into range, and so on.
                <ul>
                    <li>Unstable-Unstable pairs usually had their out of range positions drifted manually back by the LPs.Atleast 20 percent was left out of bounds probably anticipating price movements. However these were less chaotic that the Unstable-Stable pairs</li>
                    <li>Unstable-Stable pairs are the most chaotic. The liquidity is consistently out of range and the LP has to be very active to float them back. Consistently 70% of LP activity is moving the ranges to capture the price action.</li>
                    <li>Life as a provider to Stable-Stable pair is peaceful. Thought there were out of bounds ranges during volatile times, at the end of the day, majority of these return back to range on their own, since they have to keep their peg.</li>
                </ul>
                <a href="https://app.flipsidecrypto.com/dashboard/active-liquidity-for-5-largest-pools-in-uniswap-v3-FjX31D" target="_blank">read full analysis...</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
