{% extends 'base.html' %}

{% block head %}
<title>Uniswap stats</title>
<style>
    .bk-tooltip {
        border: 0px !important;
        width: 150px !important;
    }

    .card-header {
        color: white;
        background-color: #fc077d;
    }
</style>
{% endblock %}


{% block body %}
<div class="container py-2 py-4">
    <h1 class="display-5" style="color: #fc077d;">
        Uniswap v3 Stats
    </h1>
</div>

<div class="container py-2">
    <div class="row text-center">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Value Locked
                </div>
                <div class="card-body">
                    <h3>
                        {{front_swap_stats.TVL_TODAY|safe}}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Overall Swap Volume
                </div>
                <div class="card-body">
                    <h3>
                        {{front_swap_stats.OVERALL_SWAP_VOL|safe}}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Overall Swaps
                </div>
                <div class="card-body">
                    <h3>
                        {{front_swap_stats.OVERALL_NO_SWAPS|safe}}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Swaps (24Hr)
                </div>
                <div class="card-body">
                    <h3>
                        {{front_swap_stats.NO_TX_TODAY|safe}}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Swap Volume (24Hr)
                </div>
                <div class="card-body">
                    <h3>
                        {{front_swap_stats.SWAP_VOL_TODAY|safe}}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Value Locked
                </div>
                <div class="card-body">
                    {{uni_tvl | safe}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Daily Swap Volume
                </div>
                <div class="card-body">
                    {{uni_vol | safe}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="card">
        <div class="card-header">
            Top 10 Pools by Liquidity locked 
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Pool</th>
                        <th></th>
                        <th>Tokens</th>
                        <th></th>
                        <th>Total Value Locked</th>
                    </tr>
                </thead>
                {% for pool in uni_top_pool_json%}

                <tr>
                    <td>
                        <a href="{{url_for('pool',pool_address=pool.POOL_ADDRESS)}}">
                            {{pool.POOL_NAME}}
                        </a>
                    </td>
                    <td>
                        <img src="{{url_for('static',filename=pool.TOKEN0_ICON)}}" width="20">
                        <img src="{{url_for('static',filename=pool.TOKEN1_ICON)}}" width="20">

                    </td>
                    <td>
                        {{pool.TOKEN0_SYMBOL}}
                    </td>
                    <td>
                        {{pool.TOKEN1_SYMBOL}}
                    </td>
                    <td>{{pool.TOTAL_BAL}}</td>
                </tr>
                {% endfor %}
            </table>
            <p class="text-center pt-2">
                (Click on the pool name for further analysis)
            </p>
        </div>
    </div>
</div>
</div>


<div class="container py-2">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Fee Generation based on Tier
        </div>
        <div class="card-body text-center">
            <div class="card">
                <div class="card-body">
                    {{uni_fee_plot|safe}}
                    <figcaption class="figure-caption text-end">Volume of Fees generated</figcaption>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col text-center">
                    <div class="card">
                        <div class="card-body">
                            {{uni_volat_plot|safe}}
                            <figcaption class="figure-caption text-end">APR of pools with &le; $10M</figcaption>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="card">
                        <div class="card-body">
                            {{uni_nice_plot|safe}}
                            <figcaption class="figure-caption text-end">APR of pools with &ge; $10M</figcaption>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion pt-4" id="fee_accordian">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#fee_collapseOne" aria-expanded="true" aria-controls="fee_collapseOne">
                            Analysis
                        </button>
                    </h2>
                    <div id="fee_collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-mdb-parent="#fee_accordian">
                        <div class="accordion-body">
                            <p class="text-start">
                                One of the most important decisions for an LP in uniswapv3 is to choose the appropriate
                                fee
                                tier to make good returns from the liquidity they provide.
                                Though in the outset, 1% looks like a smart choice to get the most out of your liquidity
                                position.<a href="https://twitter.com/darksoulsfanlol"
                                    target="_blank">@darksoulsfanlol</a>
                                suggests that is not the case in this data backed analysis.
                                <ul class="text-start">
                                    <li>0.3 % generates the most volume</li>
                                    <li>most likely due to most LPs transitioning from v2 choosing to keep the tried and test fee tier.</li>
                                    <li>as the difference is shrinking, in the long run, one can expect the LPs to adapt to the versatility of fee tiers</li>
                                
                                    <li>stick to 1% APR for low volume pools</li>
                                    <li>stay away from 0.05% fee tier</li>
                                    <li>when in doubt go for 0.3%</li>
                                    <li>Impermanent loss can still wreck your wallet</li>
                                </ul>
                                <a href="https://app.flipsidecrypto.com/dashboard/best-uniswap-fee-ChF2eD" target="_blank">read full analysis...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container py-2">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Daily LP and Liquidity activity
        </div>
        <div class="card-body">
            <div class="row text-center">
                <div class="col">
                    {{lp_layout|safe}}
                    <figcaption class="figure-caption text-end">Liquidity Providers activity</figcaption>
                </div>
                <div class="col">
                    {{liq_layout|safe}}
                    <figcaption class="figure-caption text-end">Liquidity's activity</figcaption>
                </div>
            </div>
            <nav class="row">
                <div class="col text-center text-white" style="background-color: #f4b731;">floated into range</div>
                <div class="col text-center text-white" style="background-color: #0c3694;">out of range</div>
                <div class="col text-center text-white" style="background-color: #4bdb4b;">updated range</div>
                <div class="col text-center text-white" style="background-color: #ff0079;">reduced exposure</div>
                <div class="col text-center text-white" style="background-color:black;">other</div>
            </nav>
            <div class="accordion pt-4" id="react_accordian">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#react_collapseOne"
                      aria-expanded="true"
                      aria-controls="react_collapseOne"
                    >
                      Analysis
                    </button>
                  </h2>
                  <div
                    id="react_collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingOne"
                    data-mdb-parent="#react_accordian"
                  >
                    <div class="accordion-body text-start">
                     <p class="">
                Andruu took a look at how LPs and the Liquidity react to market conditions. 
                In order to read these plots, use the legends above. The legend describes activity that occur to a liquidity position. For example, say floated into range, in the graph on the left this means, the LP moved the ranges manually, where as in the graph on right it means, the liquidity moved back into range, and so on.
                <ul>
                    <li>Unstable-Unstable pairs usually had their out of range positions drifted manually back by the LPs.Atleast 20 percent was left out of bounds probably anticipating price movements. However these were less chaotic that the Unstable-Stable pairs</li>
                    <li>Unstable-Stable pairs are the most chaotic. The liquidity is consistently out of range and the LP has to be very active to float them back. Consistently 70% of LP activity is moving the ranges to capture the price action.</li>
                    <li>Life as a provider to Stable-Stable pair is peaceful. Thought there were out of bounds ranges during volatile times, at the end of the day, majority of these return back to range on their own, since they have to keep their peg.</li>
                </ul>
                <a href="https://app.flipsidecrypto.com/dashboard/active-liquidity-for-5-largest-pools-in-uniswap-v3-FjX31D" target="_blank">read full analysis...</a>
            </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            ETH ranges vs LP ranges
        </div>
        <div class="card-body">
            {{uni_lp_plot|safe}}

            <div class="accordion pt-4" id="range_accordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#range_collapseOne"
                      aria-expanded="true"
                      aria-controls="range_collapseOne"
                    >
                      Analysis
                    </button>
                  </h2>
                  <div
                    id="range_collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingOne"
                    data-mdb-parent="#range_accordion"
                  >
                    <div class="accordion-body text-start">
                        Kida#8864 analysed the popular ETH-USDC pool's top Liquidity Providers to see how efficient they are , and lessons to be learnt from them. 
                        In the graph on the right, in top you can see the ETH's price range as line segments, while the LP's liquidity range as shaded area.In bottom, you can see the volatility compared to the percentage range of LP position. Ideally, we want both the black regions to be completely and tightly engulfed by the red areas for maximum capital efficiency.
                        <ul>
                            <li>The LPs consistently managed to enclose all of the ETH price for majority of the days. Only days of extreme volatility pushed these LPs out of position. </li>
                            <li>This means, generally the LPs are either very good at prediciting the price range of ETH or very reactive to changes, both of which are rewarding in Uniswapv3</li>
                            <li>A position gap of greater than 5% is required, or else transactions will go out of bounds</li>
                            <li>A 25% price gap looks like overkill on most days.</li>
                            <li>15% to 30% price gap with previous day average ETH price at center, is the analyst's recommendation for LP ranges.</li>
                        </ul>
                        <a href="https://app.flipsidecrypto.com/dashboard/uniswap-active-positions-and-their-price-ranges-UjLwpy" target="_blank">read full analysis...</a>

                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
</div>

{#Modals#}




{% endblock %}